ggplot                         0.11.5    
imageio                        2.4.1     
jupyter                        1.0.0     
Keras                          2.1.6     
Keras-Applications             1.0.4     
Keras-Preprocessing            1.0.2     
matplotlib                     3.0.0     
numpy                          1.14.5    
opencv-python                  3.4.4.19  
pandas                         0.24.1    
scikit-image                   0.14.0    
scikit-learn                   0.19.2    
scipy                          1.1.0     
seaborn                        0.9.0     
tensorflow                     1.10.0    
